name: publish

on:
  release:
    types: [ published ]

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3.9.0
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'sbt'
          gpg-private-key: ${{ secrets.PGP_PRIVATE_KEY }}

      - name: Publish
        env:
          CI_VERSION: ${{ github.ref }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        run: |
          sbt "; test; sonatypeBundleClean; publishSigned; sonatypeBundleRelease"
